@import "./global";

@btnDefaultGap:15px;
@btnHeight:42px;
@btnMiniHeight:1.9;
@btnFontSize:18px;
@btnFontColor:#FFFFFF;
@btnDisabledFontColor:rgba(255,255,255,.6);
@btnActiveFontColor:rgba(255,255,255,.4);
@btnMiniFontSize:14px;
@btnBorderRadius:5px;

@btnDefaultBg:#F7F7F7;
@btnDefaultActiveBg:#EEE;
@btnDefaultFontColor:#454545;
@btnDefaultDisabledFontColor:#C9C9C9;
@btnDefaultActiveFontColor:#A1A1A1;

@btnPrimaryBg:@globalDefaultColor;
@btnPrimaryActiveBg:@globalDefaultActionColor;

@btnPositiveBg:#04BE02;
@btnPositiveActiveBg:#039702;

@btnWarnBg:#EF4F4F;
@btnWarnActiveBg:#C13E3E;
