<div class="hd">
    <h1 class="page_title">ActionSheet</h1>
</div>
<div class="bd spacing">
    <a href="javascript:;" class="btn btn-primary" id="showActionSheet">点击上拉ActionSheet1</a>

    <a href="javascript:;" class="btn btn-primary" id="showActionSheet2">点击上拉ActionSheet2</a>
</div>
<!--BEGIN actionSheet-->
<div id="actionsheet-wrap">
    <div class="mask-transition" id="mask"></div>
    <div class="actionsheet" id="actionsheet">
        <div class="actionsheet-menu">
            <div class="actionsheet-cell actionsheet-lable"> 这里是说明  </div>
            <div class="actionsheet-cell">示例菜单</div>
            <div class="actionsheet-cell">示例菜单</div>
            <div class="actionsheet-cell">示例菜单</div>
            <div class="actionsheet-cell">示例菜单</div>
        </div>
        <div class="actionsheet-action">
            <div class="actionsheet-cell" id="actionsheet-cancel">取消</div>
        </div>
    </div>
</div>
<!--END actionSheet-->


<!--BEGIN actionSheet-->
<div id="actionsheet-wrap2">
    <div class="mask-transition" id="mask2"></div>
    <div class="actionsheet actionsheet-round" id="actionsheet2">
        <div class="actionsheet-menu">
            <div class="actionsheet-cell actionsheet-lable"> 这里是说明  </div>
            <div class="actionsheet-cell">示例菜单</div>
            <div class="actionsheet-cell">示例菜单</div>
            <div class="actionsheet-cell">示例菜单</div>
            <div class="actionsheet-cell">示例菜单</div>
        </div>
        <div class="actionsheet-action">
            <a class="btn btn-warn" id="actionsheet-cancel2">取消</a>
        </div>
    </div>
</div>
<!--END actionSheet-->