<div class="hd">
    <h1 class="page_title">Button</h1>
</div>
<div class="bd spacing">
    <div class="btn-area btn-area-inline">
        <a href="javascript:;" class="btn">按钮</a>
        <a href="javascript:;" class="btn btn-disabled">按钮</a>
    </div>

    <div class="btn-area btn-area-inline">
        <a href="javascript:;" class="btn btn-primary ">按钮</a>
        <a href="javascript:;" class="btn btn-disabled btn-primary">按钮</a>
    </div>

    <div class="btn-area btn-area-inline">
        <a href="javascript:;" class="btn btn-positive">确认</a>
        <a href="javascript:;" class="btn btn-positive btn-disabled">确认</a>
    </div>

    <div class="btn-area btn-area-inline">
        <a href="javascript:;" class="btn btn-warn">确认</a>
        <a href="javascript:;" class="btn btn-disabled btn-warn">确认</a>
    </div>


    <div class="btn-area btn-area-inline">
        <a href="javascript:;" class="btn btn-default">按钮</a>
        <a href="javascript:;" class="btn btn-disabled btn-default">按钮</a>
    </div>


    <div class="btn-area btn-area-inline">
        <a href="javascript:;" class="btn btn-primary btn-round ">按钮</a>
        <a href="javascript:;" class="btn btn-warn btn-round ">按钮</a>
    </div>
    <div class="btn-area btn-area-inline">
        <a href="javascript:;" class="btn btn-primary btn-round btn-mini">按钮</a>
        <a href="javascript:;" class="btn btn-warn btn-round btn-mini">按钮</a>
    </div>

</div>

<div class="hd">
    <h1 class="page_title">Button Row</h1>
</div>
<div class="bd spacing">
    <div class="btn-row" style="margin-top: 15px">
        <a href="javascript:;" class="btn btn-sm">按钮</a>
        <a href="javascript:;" class="btn btn-sm active">按钮</a>
        <a href="javascript:;" class="btn btn-sm ">按钮</a>
        <a href="javascript:;" class="btn btn-sm ">按钮</a>
    </div>

    <div class="btn-row" style="margin-top: 15px">
        <a href="javascript:;" class="btn btn-round btn-sm active ">按钮</a>
        <a href="javascript:;" class="btn btn-round btn-sm">按钮</a>
        <a href="javascript:;" class="btn btn-round btn-sm">按钮</a>
    </div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<b