<div class="hd">
    <h1 class="page_title">Cell</h1>
</div>
<div class="bd">
    <div class="cells-title">带说明的列表项</div>
    <div class="cells">
        <div class="cell">
            <div class="cell-bd cell-primary">
                <p>标题文字</p>
            </div>
            <div class="cell-ft">说明文字</div>
        </div>
    </div>
    <div class="cells-title">带图标、说明的列表项</div>
    <div class="cells">
        <div class="cell">
            <div class="cell-hd"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAC4AAAAuCAMAAABgZ9sFAAAAVFBMVEXx8fHMzMzr6+vn5+fv7+/t7e3d3d2+vr7W1tbHx8eysrKdnZ3p6enk5OTR0dG7u7u3t7ejo6PY2Njh4eHf39/T09PExMSvr6+goKCqqqqnp6e4uLgcLY/OAAAAnklEQVRIx+3RSRLDIAxE0QYhAbGZPNu5/z0zrXHiqiz5W72FqhqtVuuXAl3iOV7iPV/iSsAqZa9BS7YOmMXnNNX4TWGxRMn3R6SxRNgy0bzXOW8EBO8SAClsPdB3psqlvG+Lw7ONXg/pTld52BjgSSkA3PV2OOemjIDcZQWgVvONw60q7sIpR38EnHPSMDQ4MjDjLPozhAkGrVbr/z0ANjAF4AcbXmYAAAAASUVORK5CYII=" alt="" style="width:20px;margin-right:5px;display:block"></div>
            <div class="cell-bd cell-primary">
                <p>标题文字</p>
            </div>
            <div class="cell-ft">说明文字</div>
        </div>
        <div class="cell">
            <div class="cell-hd"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAC4AAAAuCAMAAABgZ9sFAAAAVFBMVEXx8fHMzMzr6+vn5+fv7+/t7e3d3d2+vr7W1tbHx8eysrKdnZ3p6enk5OTR0dG7u7u3t7ejo6PY2Njh4eHf39/T09PExMSvr6+goKCqqqqnp6e4uLgcLY/OAAAAnklEQVRIx+3RSRLDIAxE0QYhAbGZPNu5/z0zrXHiqiz5W72FqhqtVuuXAl3iOV7iPV/iSsAqZa9BS7YOmMXnNNX4TWGxRMn3R6SxRNgy0bzXOW8EBO8SAClsPdB3psqlvG+Lw7ONXg/pTld52BjgSSkA3PV2OOemjIDcZQWgVvONw60q7sIpR38EnHPSMDQ4MjDjLPozhAkGrVbr/z0ANjAF4AcbXmYAAAAASUVORK5CYII=" alt="" style="width:20px;margin-right:5px;display:block"></div>
            <div class="cell-bd cell-primary">
                <p>标题文字</p>
            </div>
            <div class="cell-ft">说明文字</div>
        </div>
    </div>

    <div class="cells-title">带跳转的列表项</div>
    <div class="cells cells-access">
        <a class="cell" href="javascript:;">
            <div class="cell-bd cell-primary">
                <p>cell standard</p>
            </div>
            <div class="cell-ft">
            </div>
        </a>
        <a class="cell" href="javascript:;">
            <div class="cell-bd cell-primary">
                <p>cell standard</p>
            </div>
            <div class="cell-ft">
            </div>
        </a>
    </div>

    <div class="cells-title">带说明、跳转的列表项</div>
    <div class="cells cells-access">
        <a class="cell" href="javascript:;">
            <div class="cell-bd cell-primary">
                <p>cell standard</p>
            </div>
            <div class="cell-ft">说明文字</div>
        </a>
        <a class="cell" href="javascript:;">
            <div class="cell-bd cell-primary">
                <p>cell standard</p>
            </div>
            <div class="cell-ft">说明文字</div>
        </a>

    </div>

    <div class="cells-title">带图标、说明、跳转的列表项</div>
    <div class="cells cells-access">

        <a class="cell" href="javascript:;">
            <div class="cell-hd"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAC4AAAAuCAMAAABgZ9sFAAAAVFBMVEXx8fHMzMzr6+vn5+fv7+/t7e3d3d2+vr7W1tbHx8eysrKdnZ3p6enk5OTR0dG7u7u3t7ejo6PY2Njh4eHf39/T09PExMSvr6+goKCqqqqnp6e4uLgcLY/OAAAAnklEQVRIx+3RSRLDIAxE0QYhAbGZPNu5/z0zrXHiqiz5W72FqhqtVuuXAl3iOV7iPV/iSsAqZa9BS7YOmMXnNNX4TWGxRMn3R6SxRNgy0bzXOW8EBO8SAClsPdB3psqlvG+Lw7ONXg/pTld52BjgSSkA3PV2OOemjIDcZQWgVvONw60q7sIpR38EnHPSMDQ4MjDjLPozhAkGrVbr/z0ANjAF4AcbXmYAAAAASUVORK5CYII=" alt="" style="width:20px;margin-right:5px;display:block"></div>
            <div class="cell-bd cell-primary">
                <p>cell standard</p>
            </div>
            <div class="cell-ft">说明文字</div>
        </a>
        <a class="cell" href="javascript:;">
            <div class="cell-hd"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAC4AAAAuCAMAAABgZ9sFAAAAVFBMVEXx8fHMzMzr6+vn5+fv7+/t7e3d3d2+vr7W1tbHx8eysrKdnZ3p6enk5OTR0dG7u7u3t7ejo6PY2Njh4eHf39/T09PExMSvr6+goKCqqqqnp6e4uLgcLY/OAAAAnklEQVRIx+3RSRLDIAxE0QYhAbGZPNu5/z0zrXHiqiz5W72FqhqtVuuXAl3iOV7iPV/iSsAqZa9BS7YOmMXnNNX4TWGxRMn3R6SxRNgy0bzXOW8EBO8SAClsPdB3psqlvG+Lw7ONXg/pTld52BjgSSkA3PV2OOemjIDcZQWgVvONw60q7sIpR38EnHPSMDQ4MjDjLPozhAkGrVbr/z0ANjAF4AcbXmYAAAAASUVORK5CYII=" alt="" style="width:20px;margin-right:5px;display:block"></div>
            <div class="cell-bd cell-primary">
                <p>cell standard</p>
            </div>
            <div class="cell-ft">说明文字</div>
        </a>
    </div>

    <div class="cells-title">单选列表项</div>
    <div class="cells cells-radio">
        <label class="cell check-label" for="x11">
            <div class="cell-bd cell-primary">
                <p>cell standard</p>
            </div>
            <div class="cell-ft">
                <input type="radio" class="check" name="radio1" id="x11">
                <span class="icon-checked"></span>
            </div>
        </label>
        <label class="cell check-label" for="x12">

            <div class="cell-bd cell-primary">
                <p>cell standard</p>
            </div>
            <div class="cell-ft">
                <input type="radio" name="radio1" class="check" id="x12" checked="checked">
                <span class="icon-checked"></span>
            </div>
        </label>
    </div>
    <div class="cells-title">复选列表项</div>
    <div class="cells cells-checkbox">
        <label class="cell check-label" for="s11">
            <div class="cell-hd">
                <input type="checkbox" class="check" name="checkbox1" id="s11" checked="checked">
                <i class="icon-checked"></i>
            </div>
            <div class="cell-bd cell-primary">
                <p>standard is dealt for u.</p>
            </div>
        </label>
        <label class="cell check-label" for="s12">
            <div class="cell-hd">
                <input type="checkbox" name="checkbox1" class="check" id="s12">
                <i class="icon-checked"></i>
            </div>
            <div class="cell-bd cell-primary">
                <p>standard is dealicient for u.</p>
            </div>
        </label>
    </div>

    <div class="cells-title">开关</div>
    <div class="cells cells-form">
        <div class="cell cell-switch">
            <div class="cell-hd cell-primary">标题文字</div>
            <div class="cell-ft">
                <input class="switch" type="checkbox"/>
            </div>
        </div>
    </div>

    <div class="cells-title">表单</div>
    <div class="cells cells-form">
        <div class="cell">
            <div class="cell-hd"><label class="label">qq</label></div>
            <div class="cell-bd cell-primary">
                <input class="input" type="number" pattern="[0-9]*" placeholder="请输入qq号"/>
            </div>
        </div>
        <div class="cell vcode">
            <div class="cell-hd"><label class="label">验证码</label></div>
            <div class="cell-bd cell-primary">
                <input class="input" type="number" placeholder="请输入验证码"/>
            </div>
            <div class="cell-ft">
                <img src="./images/vcode.jpg" />
            </div>
        </div>
        <div class="cell">
            <div class="cell-hd"><label class="label">银行卡</label></div>
            <div class="cell-bd cell-primary">
                <input class="input" type="number" pattern="[0-9]*" placeholder="请输入银行卡号"/>
            </div>
        </div>
        <div class="cell vcode cell-warn">
            <div class="cell-hd"><label class="label">验证码</label></div>
            <div class="cell-bd cell-primary">
                <input class="input" type="number" placeholder="请输入验证码"/>
            </div>
            <div class="cell-ft">
                <i class="icon-warn"></i>
                <img src="./images/vcode.jpg" />
            </div>
        </div>
    </div>
    <div class="cells-tips">底部说明文字底部说明文字</div>
    <div class="btn-area">
        <a class="btn btn-primary" href="javascript:" id="showTooltips">确定</a>
    </div>

    <div class="cells-title">上传</div>
    <div class="cells cells-form">
        <div class="cell">
            <div class="cell-bd cell-primary">
                <div class="uploader">
                    <div class="uploader-hd cell">
                        <div class="cell-bd cell-primary">图片上传</div>
                        <div class="cell-ft">0/2</div>
                    </div>
                    <div class="uploader-bd">
                        <ul class="uploader-files">
                            <li class="uploader-file" style="background-image:url(images/head01.jpg)"></li>
                            <li class="uploader-file" style="background-image:url(images/head01.jpg)"></li>
                            <li class="uploader-file" style="background-image:url(images/head01.jpg)"></li>
                            <li class="uploader-file uploader-status" style="background-image:url(images/head01.jpg)">
                                <div class="uploader-status-content">
                                    <i class="icon-warn"></i>
                                </div>
                            </li>
                            <li class="uploader-file uploader-status" style="background-image:url(images/head01.jpg)">
                                <div class="uploader-status-content">50%</div>
                            </li>
                        </ul>
                        <div class="uploader-input-wrp">
                            <input class="uploader-input" type="file" accept="image/jpg,image/jpeg,image/png,image/gif" multiple />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="cells-title">文本域</div>
    <div class="cells cells-form">
        <div class="cell">
            <div class="cell-bd cell-primary">
                <textarea class="textarea" placeholder="请输入评论" rows="3"></textarea>
                <div class="textarea-counter"><span>0</span>/200</div>
            </div>
        </div>
    </div>
    <div class="toptips warn js-tooltips">格式不对</div>
    <div class="cells-title">表单报错</div>
    <div class="cells cells-form">
        <div class="cell cell-warn">
            <div class="cell-hd"><label for="" class="label">卡号</label></div>
            <div class="cell-bd cell-primary">
                <input class="input" type="number" pattern="[0-9]*" value="weui input error" placeholder="请输入卡号"/>
            </div>
            <div class="cell-ft">
                <i class="icon-warn"></i>
            </div>
        </div>
        <div class="cell">
            <div class="cell-hd"><label for="" class="label">日期</label></div>
            <div class="cell-bd cell-primary">
                <input class="input" type="date" value=""/>
            </div>
        </div>
        <div class="cell">
            <div class="cell-hd"><label for="" class="label">时间</label></div>
            <div class="cell-bd cell-primary">
                <input class="input" type="datetime-local" value="" placeholder=""/>
            </div>
        </div>
    </div>
    <div class="cells-title">选择</div>
    <div class="cells">

        <div class="cell cell-select select-before">
            <div class="cell-hd">
                <select class="select" name="select2">
                    <option value="1">+86</option>
                    <option value="2">+80</option>
                    <option value="3">+84</option>
                    <option value="4">+87</option>
                </select>
            </div>
            <div class="cell-bd cell-primary">
                <input class="input" type="number" pattern="[0-9]*" placeholder="请输入号码"/>
            </div>
        </div>
    </div>
    <div class="cells-title">选择</div>
    <div class="cells">
        <div class="cell cell-select">
            <div class="cell-bd cell-primary">
                <select class="select" name="select1">
                    <option selected="" value="1">微信号</option>
                    <option value="2">QQ号</option>
                    <option value="3">Email</option>
                </select>
            </div>
        </div>
        <div class="cell cell-select select-after">
            <div class="cell-hd">
                <label for="" class="label">国家/地区</label>
            </div>
            <div class="cell-bd cell-primary">
                <select class="select" name="select2">
                    <option value="1">中国</option>
                    <option value="2">美国</option>
                    <option value="3">英国</option>
                </select>
            </div>
        </div>
    </div>

</div>