<div class="hd">
    <h1 class="page_title">Dialog</h1>
</div>
<div class="bd spacing">
    <a href="javascript:;" class="btn btn-primary" id="showDialog1">点击弹出Dialog样式一</a>
    <a href="javascript:;" class="btn btn-primary" id="showDialog2">点击弹出Dialog样式二</a>
</div>
<!--BEGIN dialog1-->
<div class="dialog-confirm" id="dialog1" style="display: none;">
    <div class="mask"></div>
    <div class="dialog">
        <div class="dialog-hd"><strong class="dialog-title">弹窗标题</strong></div>
        <div class="dialog-bd">自定义弹窗内容，居左对齐显示，告知需要确认的信息等</div>
        <div class="dialog-ft">
            <a href="javascript:;" class="btn-dialog default">取消</a>
            <a href="javascript:;" class="btn-dialog primary">确定</a>
        </div>
    </div>
</div>
<!--END dialog1-->
<!--BEGIN dialog2-->
<div class="dialog-alert" id="dialog2" style="display: none;">
    <div class="mask"></div>
    <div class="dialog">
        <div class="dialog-hd"><strong class="dialog-title">弹窗标题</strong></div>
        <div class="dialog-bd">弹窗内容，告知当前页面信息等</div>
        <div class="dialog-ft">
            <a href="javascript:;" class="btn-dialog primary">确定</a>
        </div>
    </div>
</div>
<!--END dialog2-->