<div class="hd">
    <h1 class="page_title">JA MUI</h1>
    <p class="page_desc">简单设计、极致体验</p>
</div>
<div class="bd">
    <div class="grids">
        <a href="#/button" class="grid">
            <div class="grid-icon">
                <i class="icon icon-button"></i>
            </div>
            <p class="grid-label">
                Button
            </p>
        </a>
        <a href="#/cell" class="grid">
            <div class="grid-icon">
                <i class="icon icon-cell"></i>
            </div>
            <p class="grid-label">
                Cell
            </p>
        </a>
        <a href="#/toast" class="grid">
            <div class="grid-icon">
                <i class="icon icon-toasts"></i>
            </div>
            <p class="grid-label">
                Toast
            </p>
        </a>
        <a href="#/dialog" class="grid">
            <div class="grid-icon">
                <i class="icon icon-dialog"></i>
            </div>
            <p class="grid-label">
                Dialog
            </p>
        </a>
        <a href="#/progress" class="grid">
            <div class="grid-icon">
                <i class="icon icon-progress"></i>
            </div>
            <p class="grid-label">
                Progress
            </p>
        </a>
        <a href="#/msg" class="grid">
            <div class="grid-icon">
                <i class="icon icon-msgs"></i>
            </div>
            <p class="grid-label">
                Msg
            </p>
        </a>
        <a href="#/article" class="grid">
            <div class="grid-icon">
                <i class="icon icon-article"></i>
            </div>
            <p class="grid-label">
                Article
            </p>
        </a>
        <a href="#/actionsheet" class="grid">
            <div class="grid-icon">
                <i class="icon icon-actionSheet"></i>
            </div>
            <p class="grid-label">
                ActionSheet
            </p>
        </a>
        <a href="#/icons" class="grid">
            <div class="grid-icon">
                <i class="icon icon-icons"></i>
            </div>
            <p class="grid-label">
                Icons
            </p>
        </a>
        <a href="#/panel" class="grid">
            <div class="grid-icon">
                <i class="icon icon-panel"></i>
            </div>
            <p class="grid-label">
                Panel
            </p>
        </a>
        <a href="#/tab" class="grid">
            <div class="grid-icon">
                <i class="icon icon-tab"></i>
            </div>
            <p class="grid-label">
                Tab
            </p>
        </a>
        <a href="#/searchbar" class="grid">
            <div class="grid-icon">
                <i class="icon icon-search-bar"></i>
            </div>
            <p class="grid-label">
                SearchBar
            </p>
        </a>

        <a href="#/badge" class="grid">
            <div class="grid-icon">
                <i class="icon icon-search-bara"></i>
            </div>
            <p class="grid-label">
                Badge
            </p>
        </a>


    </div>
</div>