<div class="hd">
    <h1 class="page_title">Icons</h1>
</div>
<div class="bd spacing">
    <i class="icon-msg icon-success"></i>
    <i class="icon-msg icon-info"></i>
    <i class="icon-msg icon-warn"></i>
    <i class="icon-msg icon-waiting"></i>
    <i class="icon-safe icon-safe-success"></i>
    <i class="icon-safe icon-safe-warn"></i>
    <div class="icon-sp_area">
        <i class="icon-success"></i>
        <i class="icon-success-circle"></i>
        <i class="icon-success-no-circle"></i>
        <i class="icon-info"></i>
        <i class="icon-waiting"></i>
        <i class="icon-waiting-circle"></i>
        <i class="icon-circle"></i>
        <i class="icon-warn"></i>
        <i class="icon-download"></i>
        <i class="icon-info-circle"></i>
        <i class="icon-cancel"></i>
        <i class="icon-search"></i>
        <i class="icon-clear"></i>
    </div>
</div>