<div class="msg">
    <div class="icon-area"><i class="icon-success icon-msg icon-bg-primary"></i></div>
    <div class="text_area">
        <h2 class="msg_title">操作成功</h2>
        <p class="msg_desc">内容详情，可根据实际需要安排</p>
    </div>
    <div class="opr_area">
        <p class="btn-area">
            <a href="javascript:;" class="btn btn-primary">确定</a>
            <a href="javascript:;" class="btn btn-default">取消</a>
        </p>
    </div>
    <div class="extra_area">
        <a href="">查看详情</a>
    </div>
</div>