<div class="hd">
    <h1 class="page_title">Progress</h1>
</div>
<div class="bd spacing">
    <div class="progress">
        <div class="progress-bar">
            <div class="progress-inner-bar js_progress" style="width: 0%;"></div>
        </div>
        <a href="javascript:;" class="progress-opr">
            <i class="icon-cancel"></i>
        </a>
    </div>
    <br>
    <div class="progress">
        <div class="progress-bar">
            <div class="progress-inner-bar js_progress" style="width: 50%;"></div>
        </div>
        <a href="javascript:;" class="progress-opr">
            <i class="icon-cancel"></i>
        </a>
    </div>
    <br>
    <div class="progress">
        <div class="progress-bar">
            <div class="progress-inner-bar js_progress" style="width: 80%;"></div>
        </div>
        <a href="javascript:;" class="progress-opr">
            <i class="icon-cancel"></i>
        </a>
    </div>
    <div class="btn-area">
        <a href="javascript:;" class="btn btn-primary" id="btnStartProgress">上传</a>
    </div>
</div>