<div class="bd">
    <!--<a href="javascript:;" class="btn btn_primary">点击展现searchBar</a>-->
    <div class="search-bar" id="search-bar">
        <form class="search-outer">
            <div class="search-inner">
                <i class="icon-search icon-sm"></i>
                <input type="search" class="search-input" id="search-input" placeholder="搜索" required/>
                <a href="javascript:" class="icon-clear icon-sm" id="search-clear"></a>
            </div>
            <label for="search-input" class="search-text" id="search-text">
                <i class="icon-search"></i>
                <span>搜索</span>
            </label>
        </form>
        <a href="javascript:" class="search-cancel" id="search-cancel">取消</a>
    </div>
    <div class="cells cells-access search-show" id="search-show">
        <div class="cell">
            <div class="cell-bd cell-primary">
                <p>实时搜索文本</p>
            </div>
        </div>
        <div class="cell">
            <div class="cell-bd cell-primary">
                <p>实时搜索文本</p>
            </div>
        </div>
        <div class="cell">
            <div class="cell-bd cell-primary">
                <p>实时搜索文本</p>
            </div>
        </div>
        <div class="cell">
            <div class="cell-bd cell-primary">
                <p>实时搜索文本</p>
            </div>
        </div>
    </div>
</div>
<div class="hd">
    <h1 class="page_title">searchBar</h1>
</div>