<div class="bd">
    <div class="cells-title">Tab</div>
    <div class="cells cells-access">
        <a class="cell" href="#/navbar">
            <div class="cell-bd cell-primary">
                <p>navbar</p>
            </div>
            <div class="cell-ft">
            </div>
        </a>
        <a class="cell" href="#/tabbar">
            <div class="cell-bd cell-primary">
                <p>tabbar</p>
            </div>
            <div class="cell-ft">
            </div>
        </a>
    </div>
</div>