<div class="tab">
    <div class="tab-bd">

    </div>
    <div class="tabbar">
        <a href="javascript:;" class="tabbar-item active">
            <div class="tabbar-icon">
                <img src="./images/icon_nav_button.png" alt="">
            </div>
            <p class="tabbar-label">微信</p>
        </a>
        <a href="javascript:;" class="tabbar-item">
            <div class="tabbar-icon">
                <img src="./images/icon_nav_msg.png" alt="">
            </div>
            <p class="tabbar-label">通讯录</p>
        </a>
        <a href="javascript:;" class="tabbar-item">
            <div class="tabbar-icon">
                <img src="./images/icon_nav_article.png" alt="">
            </div>
            <p class="tabbar-label">发现</p>
        </a>
        <a href="javascript:;" class="tabbar-item">
            <div class="tabbar-icon">
                <img src="./images/icon_nav_cell.png" alt="">
            </div>
            <p class="tabbar-label">我</p>
        </a>
    </div>
</div>