<div class="hd">
    <h1 class="page_title">Toast</h1>
</div>
<div class="bd spacing">
    <a href="javascript:;" class="btn btn-primary" id="showToast">点击弹出Toast</a>
    <a href="javascript:;" class="btn btn-primary" id="showLoadingToast">点击弹出Loading Toast</a>
</div>
<!--BEGIN toast-->
<div id="toast" style="display: none;">
    <div class="mask-transparent"></div>
    <div class="toast">
        <i class="icon-toast"></i>
        <p class="toast-content">已完成</p>
    </div>
</div>
<!--end toast-->

<!-- loading toast -->
<div id="loadingToast" class="loading-toast" style="display:none;">
    <div class="mask-transparent"></div>
    <div class="toast">
        <div class="loading">
            <div class="loading-leaf loading-leaf-0"></div>
            <div class="loading-leaf loading-leaf-1"></div>
            <div class="loading-leaf loading-leaf-2"></div>
            <div class="loading-leaf loading-leaf-3"></div>
            <div class="loading-leaf loading-leaf-4"></div>
            <div class="loading-leaf loading-leaf-5"></div>
            <div class="loading-leaf loading-leaf-6"></div>
            <div class="loading-leaf loading-leaf-7"></div>
            <div class="loading-leaf loading-leaf-8"></div>
            <div class="loading-leaf loading-leaf-9"></div>
            <div class="loading-leaf loading-leaf-10"></div>
            <div class="loading-leaf loading-leaf-11"></div>
        </div>
        <p class="toast-content">数据加载中</p>
    </div>
</div>